.bg {
    position: fixed;
    top: -1px;
    left: -1px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    width: calc(100vw + 2px);
    height: calc(100vh + 2px);
    z-index: 0;
}
  

.bg-cell {
    background-color: #030712;
    outline: 1px solid #1c0f36;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    transition: background-color 0.3s ease;
}

.bg-cell:hover {
    scale: 1.1;
    border-radius: .125rem;
    transition: none;
    background-color: #1c0f36;
}

@keyframes breathe {
    0%   { background-color: #030712; }
    50%  { background-color: #1c0f36; } /* teinte chaude/grise */
    100% { background-color: #030712; }
}

.breathe {
    animation: breathe 4s ease-in-out;
}

.profile {
    position: fixed;
    left: 12.5%;
    top: 10%;
    max-width: 30rem;
}

.profile:hover {
    cursor: crosshair;
}

.profile img {
    width: 100%;
    aspect-ratio: 10/4;
    object-fit: cover;
    border-radius: 1rem;
    animation: circleGlow 10s ease-in-out infinite;
}


@keyframes circleGlow {
    0% {
        box-shadow: 0 -20px 60px -30px rgba(255, 180, 130, 0.25),
                    0 0 40px -20px rgba(255, 255, 255, 0.1);
        filter: brightness(1);
    }
    20% {
        box-shadow: -20px -10px 70px -30px rgba(255, 130, 130, 0.3),
                    0 0 50px -25px rgba(255, 255, 255, 0.15);
        filter: brightness(1.05);
    }
    40% {
        box-shadow: -20px 10px 80px -30px rgba(150, 180, 255, 0.35),
                    0 0 60px -25px rgba(255, 255, 255, 0.2);
        filter: brightness(1.1);
    }
    60% {
        box-shadow: 0 20px 70px -30px rgba(255, 200, 150, 0.35),
                    0 0 50px -25px rgba(255, 255, 255, 0.15);
        filter: brightness(1.05);
    }
    80% {
        box-shadow: 20px 0 60px -30px rgba(255, 200, 255, 0.3),
                    0 0 40px -20px rgba(255, 255, 255, 0.1);
        filter: brightness(1.02);
    }
    100% {
        box-shadow: 0 -20px 60px -30px rgba(255, 180, 130, 0.25),
                    0 0 40px -20px rgba(255, 255, 255, 0.1);
        filter: brightness(1);
    }
}

.profile h1 {
    font-size: 4rem;
}

.profile h2 {
    margin-top: .5rem;
    font-size: 1rem;
}

.profile p {
    margin-top: 1rem;
    color: #969696;
}

/* .profile nav {
    height: 10rem;
    width: 10rem;
    background-color: grey;
} */

.socials {
    position: fixed;
    bottom: 10%;
    left: 12.5%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.socials a {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: 5rem;
}

.socials a:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, .3);

}

main {
    position: absolute;
    right: 12.5%;
    top: 10%;
    width: 35%;
}

main h2 {
    margin-top: 1rem;
}

main .text {
    margin: 1rem 0 2rem;
    color: #969696;
}

main .about,
main .exp {
    margin-bottom: 5rem;
}

.technos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.technos section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 5rem;
    width: 100%;
}

.techno {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    width: 100%;
    border-radius: .25rem;
    background-color: #1A191D;
    border: 1px solid #1A191D;
}

.techno:hover {
    border: 1px dashed #373639;
}

.techno img {
    padding: .5rem;
    width: 3rem;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: .25rem;
}

.techno div h3 {
    font-weight: 400;
    font-size: 1rem;
}

.techno div p {
    font-size: .8rem;
}

.techno.figma img {
    background-color: rgba(10, 207, 131, .1);
}

.techno.supabase img {
    background-color: rgba(10, 207, 131, .1);
}

.techno.github img {
    background-color: rgba(255, 255, 255, .1);
}

.techno.docker img {
    padding: 0.25rem;
    background-color: rgba(49, 120, 198, .1);
}

.techno.symfony img {
    padding: 0;
    background-color: rgba(255, 255, 255, .1);
}

.techno.next img {
    padding: .25rem;
    background-color: rgba(255, 255, 255, 1);
}

.techno.tailwind img {
    background-color: rgba(49, 120, 198, .1);
}

.techno.trello img {
    background-color: rgba(49, 120, 198, .1);
}

.techno.hostinger img {
    background-color: rgba(103, 71, 199, .2);
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    transition: scale .3s ease-in-out;
}

.project:hover {
    cursor: pointer;
    scale: 1.01;
    backdrop-filter: blur(25px);
}

.project img {
    aspect-ratio: 16/9;
    border-radius: .5rem;
}

.project section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.project h3 {
    font-size: 1.25rem;
}

.project .dates {
}

.project .description {
    color: #969696;
}